@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-rows: 70px 45px 400px 45px;
    grid-template-columns: 500px 200px;
    justify-content: center;
    align-content: center;
}

header {
    background-color: rgb(240, 73, 73);
    grid-column-start: 1;
    grid-column-end: -1;
}

menu {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: -1;
}

main {
    background-color: rgb(56, 56, 247);
    
}

aside {
    background-color: rgb(240, 240, 63);
}

footer {
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: -1;
}


header,
menu,
main,
aside,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}