@charset "UTF-8";

/*estilos para telas*/

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background-color: lightgray;
}
header > h1 {
    text-align: center;
}
menu {
    background-color: rgb(114, 109, 109);
}
main ul {
    list-style-position: inside;
    list-style-type: none;
}
header li {
    display: inline-block;
    background-color: rgb(56, 54, 54);
    color: white;
    padding: 10px;
}
article {
    width: 600px;
    display: block;
    margin: auto;
}